# .idea 폴더 무시
.idea/

# yolov5 폴더 무시
yolov5/
yolov5l.pt

# 특정 이미지 파일 무시
image*.jpg

# 업로드된 결과
/results.json
uploads/


# 캐시 파일
app/__pycache__/

__pycache__
# 가상환경
.venv/

# DB 정보
/.env

# DB 파일
test.db/